*{
  margin: 0;
  padding: 0;
}

#logo{
  max-height: 30px;
  max-width: 54px;
}
.custom-navbar {
 
  border-bottom: 1px solid rgba(204, 204, 204, 0.2); 
}
.custom-navbar .doubleButton .custom-toggle-button {
  background-color: white; 
  color: #000000; 
  border-color:white 
}
.custom-navbar .doubleButton .custom-toggle-button2 {
  background-color: orange; 
  color: #000000; 
  border-color:white 
}











.slogan{
  padding: 0px 0px;
  height: 380px;
}

.title{
  margin-top: 5%;
  display: flex;
  justify-content:  center;
  font-size: 600%;
}
.title2{
color: #828282;
margin: 2% 0 0 22%;
max-width: 766px;
text-align: center;
font-family: Source Sans Pro;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.arrow{
margin-top: -20%;
margin-right: -65%;
}
@media (max-width: 768px) {
  .title{
    font-size: 250%;
  }
  .title2{
    margin-right: 25%;
  }
  .arrow {
    display: none;
  }
}





.inputForm{
  max-width: 45%;
  height: 90px;
  margin: 0 auto;
  text-align: center;
  margin-top: -46%;
}
#searchIcon{
  height: 150px;
  margin-top: -10%;

}









#fontPhoto2{
  width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto;
}


.InfoPart{
  margin-top: 45%;
}
.context1{
  
    color: #112B3C;
font-size: 74px;
font-style: normal;
font-weight: bold;
line-height: 100%;
  text-align: left;
}
.context2{
  color: #828282;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}
.number{
  margin-top: 15%;
  color: #F66B0E;
  font-family: Source Sans Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: left;

}
.baslik{
  color: #000;
font-family: Source Sans Pro;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 100%;
text-align: left;

}
.paragraph{
  margin-top: 5%;
  color: #BDBDBD;
font-family: Source Sans Pro;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
text-align: left;
}

#kanape{
  max-width: 270px;
  margin-top: 25px;
}
.kanape1{
  margin-top: 35%;
}
@media (max-width: 767px) {
  .leftSide {
    padding: 10px;
  }

  .context1 {
    font-size: 1.5em;
  }

  .context2 {
    font-size: 1em;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
  }

  .kanape {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .InfoPart{
    display: flex;
    flex-wrap: wrap;
  }
  .baslik{
    color: #000;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  
  }
  .rightSide{
    display: none;
  }
}







.partProducts{
margin-top: 5%;
color: #112B3C;
text-align: center;
font-family: Source Sans Pro;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
}
.butonsSeven{
  display: flex;
  text-align: center;
  justify-content: center;
  
}
.butonsSeven .buttonsProducts{
  margin-left: 1%;
font-size: 120%;
font-family: Source Sans Pro;
}
.butonsSeven .buttonsProducts:hover{
  background-color: transparent;
  color: #F66B0E;


}
@media (max-width: 767px) {
  .buttonsProducts{
   max-width: 11%;
  }
  
}
/* buraya geri don */
.shop{
width: 90%;
height: 630px;
}
.boxProduct{
  z-index: -1;
  width: 120px;
height: 180px;
flex-shrink: 0;
background: #FFF8F0;
}
.rowProduct1{
  padding-top: 5%;
}
.rowProduct2{
  padding-top: 5%;
}
#furniture{
  margin-left: -20%;
  z-index: 1;
  padding-top: -40px;
  height: 70%;
  margin-top: -20%;
}
#arrowProduct{
padding-top: 50% ;
margin-right: -30%;

}







.customers{
  background-color: #112B3C;
  height: 800px;
}
.titleCustomer{
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding-top: 5%;
  padding-right: 35%;
}

#personImage{
  padding-left: 29%;
  padding-top: 5%;
}
#star {
  margin-top: -15%;
  margin-right: 9%;
}
#quote-up{
  
  align-content: start;
  padding-right: 100%;
  padding-top: 15%;
}
.servise{
  text-align: left;
  margin-right: 20%;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comment{
  padding-top: 2%;
  text-align: left;
color: rgba(255, 255, 255, 0.80);
font-family: Source Sans Pro;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

.nameOfCustomer{
  padding-top: 2%;
  text-align: left;
  color: #F66B0E;
font-family: Source Sans Pro;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
}
.titleOfCustomer{
  text-align: left;
  color: rgba(255, 255, 255, 0.80);
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
}
@media (max-width: 767px) {
  .oneOfTwo{
    display: none;
  }
  
}










.oneOf2{
  padding-top: 5%;
}
.cImg{
  padding-left: 3%;
}
.contactUs{
  padding-top: 15%;
  text-align: left;
  color: #112B3C;
  font-family: Source Sans Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.commentContact{
  text-align: left;

  color: #828282;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.form2{
  padding-top: 3%;
}
.formLabel{
  color: #828282;
font-family: Source Sans Pro;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}
.formLabel{
  padding-top: 10px;
}
div.contact .sendMessage {
  background-color:#F66B0E;
  color: #ffffff;
  border: none;
}
@media (max-width: 767px) {
  .oneOf2{
    display: none;
  }
  
}






.footer{
background: #FFF8F0;
margin-top: 5%;
}
.footerContainer{
  padding-top: 4%;
}
#footerLogo{
  margin-left: -85%
}
.footerContext{
  text-align: left;
  color: #112B3C;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}

.labelFooter{
  text-align: left;
  color: #112B3C;
font-family: Source Sans Pro;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 160%; 
}
.infoCompany{
  color: #112B3C;
font-family: Source Sans Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 2% 0;
}






















.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

